<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>88수육</string>
		<key>detail</key>
		<string>부산광역시 동구 수정2동 172</string>
		<key>summary</key>
		<string>부산광역시 동구 수정2동 172</string>
		<key>msg</key>
		<string>부산광역시 동구 수정2동 172</string>
	</dict>
	<dict>
		<key>title</key>
		<string>개미식당</string>
		<key>detail</key>
		<string>부산광역시 남구 용호로110번길 17</string>
		<key>summary</key>
		<string>부산광역시 남구 용호로110번길 17</string>
		<key>msg</key>
		<string>부산광역시 남구 용호로110번길 17</string>
	</dict>
	<dict>
		<key>title</key>
		<string>경주박가국밥</string>
		<key>detail</key>
		<string>부산광역시 연제구 연산9동 480-2</string>
		<key>summary</key>
		<string>부산광역시 연제구 연산9동 480-2</string>
		<key>msg</key>
		<string>부산광역시 연제구 연산9동 480-2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>늘해랑</string>
		<key>detail</key>
		<string>부산광역시 부산진구 양정동 중앙대로928번길 12</string>
		<key>summary</key>
		<string>부산광역시 부산진구 양정동 중앙대로928번길 12</string>
		<key>msg</key>
		<string>부산광역시 부산진구 양정동 중앙대로928번길 12</string>
	</dict>
	<dict>
		<key>title</key>
		<string>마산식당</string>
		<key>detail</key>
		<string>부산광역시 부산진구 범천동 자유평화로 19</string>
		<key>summary</key>
		<string>부산광역시 부산진구 범천동 자유평화로 19</string>
		<key>msg</key>
		<string>부산광역시 부산진구 범천동 자유평화로 19</string>
	</dict>
	<dict>
		<key>title</key>
		<string>민아식당</string>
		<key>detail</key>
		<string>부산광역시 중구 중앙동4가 84-19</string>
		<key>summary</key>
		<string>부산광역시 중구 중앙동4가 84-19</string>
		<key>msg</key>
		<string>부산광역시 중구 중앙동4가 84-19</string>
	</dict>
	<dict>
		<key>title</key>
		<string>밀양집</string>
		<key>detail</key>
		<string>부산광역시 중구 부평동2가 12</string>
		<key>summary</key>
		<string>부산광역시 중구 부평동2가 12</string>
		<key>msg</key>
		<string>부산광역시 중구 부평동2가 12</string>
	</dict>
	<dict>
		<key>title</key>
		<string>본전돼지국밥</string>
		<key>detail</key>
		<string>부산광역시 동구 초량동 중앙대로214번길 3-8</string>
		<key>summary</key>
		<string>부산광역시 동구 초량동 중앙대로214번길 3-8</string>
		<key>msg</key>
		<string>부산광역시 동구 초량동 중앙대로214번길 3-8</string>
	</dict>
	<dict>
		<key>title</key>
		<string>부광돼지국밥</string>
		<key>detail</key>
		<string>부산광역시 중구 중앙동4가 대청로141번길 15-1</string>
		<key>summary</key>
		<string>부산광역시 중구 중앙동4가 대청로141번길 15-1</string>
		<key>msg</key>
		<string>부산광역시 중구 중앙동4가 대청로141번길 15-1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>소문난돼지국밥</string>
		<key>detail</key>
		<string>부산광역시 중구 부평동 부평1길 27</string>
		<key>summary</key>
		<string>부산광역시 중구 부평동 부평1길 27</string>
		<key>msg</key>
		<string>부산광역시 중구 부평동 부평1길 27</string>
	</dict>
	<dict>
		<key>title</key>
		<string>송정3대국밥</string>
		<key>detail</key>
		<string>부산광역시 부산진구 부전2동 서면로68번길 29</string>
		<key>summary</key>
		<string>부산광역시 부산진구 부전2동 서면로68번길 29</string>
		<key>msg</key>
		<string>부산광역시 부산진구 부전2동 서면로68번길 29</string>
	</dict>
	<dict>
		<key>title</key>
		<string>수변최고돼지국밥</string>
		<key>detail</key>
		<string>부산광역시 수영구 민락동 광안해변로370번길 9-32</string>
		<key>summary</key>
		<string>부산광역시 수영구 민락동 광안해변로370번길 9-32</string>
		<key>msg</key>
		<string>부산광역시 수영구 민락동 광안해변로370번길 9-32</string>
	</dict>
	<dict>
		<key>title</key>
		<string>수영공원돼지국밥</string>
		<key>detail</key>
		<string>부산광역시 부산진구 가야동 가야공원로 59</string>
		<key>summary</key>
		<string>부산광역시 부산진구 가야동 가야공원로 59</string>
		<key>msg</key>
		<string>부산광역시 부산진구 가야동 가야공원로 59</string>
	</dict>
	<dict>
		<key>title</key>
		<string>신창국밥</string>
		<key>detail</key>
		<string>부산광역시 서구 토성동1가 보수대로 53</string>
		<key>summary</key>
		<string>부산광역시 서구 토성동1가 보수대로 53</string>
		<key>msg</key>
		<string>부산광역시 서구 토성동1가 보수대로 53</string>
	</dict>
	<dict>
		<key>title</key>
		<string>쌍둥이돼지국밥</string>
		<key>detail</key>
		<string>부산광역시 남구 대연동 유엔평화로 35-1</string>
		<key>summary</key>
		<string>부산광역시 남구 대연동 유엔평화로 35-1</string>
		<key>msg</key>
		<string>부산광역시 남구 대연동 유엔평화로 35-1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>양산국밥</string>
		<key>detail</key>
		<string>부산광역시 해운대구 중동 좌동로10번길 75</string>
		<key>summary</key>
		<string>부산광역시 해운대구 중동 좌동로10번길 75</string>
		<key>msg</key>
		<string>부산광역시 해운대구 중동 좌동로10번길 75</string>
	</dict>
	<dict>
		<key>title</key>
		<string>양산왕돼지국밥</string>
		<key>detail</key>
		<string>부산광역시 해운대구 재송동 재반로 70</string>
		<key>summary</key>
		<string>부산광역시 해운대구 재송동 재반로 70</string>
		<key>msg</key>
		<string>부산광역시 해운대구 재송동 재반로 70</string>
	</dict>
	<dict>
		<key>title</key>
		<string>양산집</string>
		<key>detail</key>
		<string>부산광역시 중구 부평동 중구로47번길 30</string>
		<key>summary</key>
		<string>부산광역시 중구 부평동 중구로47번길 30</string>
		<key>msg</key>
		<string>부산광역시 중구 부평동 중구로47번길 30</string>
	</dict>
	<dict>
		<key>title</key>
		<string>엄용백돼지국밥</string>
		<key>detail</key>
		<string>부산광역시 수영구 광안3동 76-20</string>
		<key>summary</key>
		<string>부산광역시 수영구 광안3동 76-20</string>
		<key>msg</key>
		<string>부산광역시 수영구 광안3동 76-20</string>
	</dict>
	<dict>
		<key>title</key>
		<string>영도소문난돼지국밥</string>
		<key>detail</key>
		<string>부산광역시 영도구 대교동2가</string>
		<key>summary</key>
		<string>부산광역시 영도구 대교동2가</string>
		<key>msg</key>
		<string>부산광역시 영도구 대교동2가</string>
	</dict>
	<dict>
		<key>title</key>
		<string>영진돼지국밥</string>
		<key>detail</key>
		<string>부산광역시 대연동 수영로346번길 18</string>
		<key>summary</key>
		<string>부산광역시 대연동 수영로346번길 18</string>
		<key>msg</key>
		<string>부산광역시 대연동 수영로346번길 18</string>
	</dict>
	<dict>
		<key>title</key>
		<string>장가네돼지국밥</string>
		<key>detail</key>
		<string>부산광역시 금정구 장전1동</string>
		<key>summary</key>
		<string>부산광역시 금정구 장전1동</string>
		<key>msg</key>
		<string>부산광역시 금정구 장전1동</string>
	</dict>
	<dict>
		<key>title</key>
		<string>재민국밥</string>
		<key>detail</key>
		<string>부산광역시 동래구 수안동 324-3</string>
		<key>summary</key>
		<string>부산광역시 동래구 수안동 324-3</string>
		<key>msg</key>
		<string>부산광역시 동래구 수안동 324-3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>제주할매순대국밥</string>
		<key>detail</key>
		<string>부산광역시 영도구 남항동1가</string>
		<key>summary</key>
		<string>부산광역시 영도구 남항동1가</string>
		<key>msg</key>
		<string>부산광역시 영도구 남항동1가</string>
	</dict>
	<dict>
		<key>title</key>
		<string>조방국밥</string>
		<key>detail</key>
		<string>부산광역시 기장군 기장읍 동부리 274-4</string>
		<key>summary</key>
		<string>부산광역시 기장군 기장읍 동부리 274-4</string>
		<key>msg</key>
		<string>부산광역시 기장군 기장읍 동부리 274-4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>할매국밥</string>
		<key>detail</key>
		<string>부산광역시 동구 범일동 중앙대로533번길 4</string>
		<key>summary</key>
		<string>부산광역시 동구 범일동 중앙대로533번길 4</string>
		<key>msg</key>
		<string>부산광역시 동구 범일동 중앙대로533번길 4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>합천국밥집</string>
		<key>detail</key>
		<string>부산광역시 남구 용호동 용호로 235</string>
		<key>summary</key>
		<string>부산광역시 남구 용호동 용호로 235</string>
		<key>msg</key>
		<string>부산광역시 남구 용호동 용호로 235</string>
	</dict>
	<dict>
		<key>title</key>
		<string>합천식당</string>
		<key>detail</key>
		<string>부산광역시 부산진구 범천1동 839-42</string>
		<key>summary</key>
		<string>부산광역시 부산진구 범천1동 839-42</string>
		<key>msg</key>
		<string>부산광역시 부산진구 범천1동 839-42</string>
	</dict>
	<dict>
		<key>title</key>
		<string>합천일류돼지국밥</string>
		<key>detail</key>
		<string>부산광역시 사상구 괘법동 광장로 34</string>
		<key>summary</key>
		<string>부산광역시 사상구 괘법동 광장로 34</string>
		<key>msg</key>
		<string>부산광역시 사상구 괘법동 광장로 34</string>
	</dict>
	<dict>
		<key>title</key>
		<string>형제전통돼지국밥</string>
		<key>detail</key>
		<string>부산광역시 해운대구 중동 구남로41번길 39</string>
		<key>summary</key>
		<string>부산광역시 해운대구 중동 구남로41번길 39</string>
		<key>msg</key>
		<string>부산광역시 해운대구 중동 구남로41번길 39</string>
	</dict>
</array>
</plist>
